/*
Based on base.css file used in http://blog.montylounge.com/
Source: http://bitbucket.org/montylounge/django-mingus/src/tip/mingus/media/static/css/base.css
*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

body {
    line-height: 1.4;
    color: #33493c;
    background: #f7fff8;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

/* LAYOUT */
#body-container{ padding-top: 22px; }
.post, .bookmark, .quote { margin-bottom: 1.2em; }
.post .date, .bookmark .date, .quote .date {
	float: left;
	padding: .3em .4em .3em 1.2em;
	background: #76d500; /* c14040 */
	margin: 0.3em 0  0 -6.0em;
	width: 3.8em;
    border-top: #33493c 5px solid;
}

#right-rail p {font-size: .8em; margin-bottom: 1.8em;}
.post_list .post, #header { padding-bottom: 1.2em; border-bottom: 1px solid #ccc;}
#right-rail ul{ margin-left: 0em;}
.post-img img { margin-left: 3.2em; }
.post-img p { margin-left: 3.8em; line-height: 1.4em; }
.post-img { float: left; margin: 0.3em 0 1.2em -6.0em; }

.post li { padding-bottom: .6em; }
.post ol li { list-style: decimal; }

/* CODE */
pre
{
	overflow: auto;
	overflow: auto;
	z-index: 0;
	background-color: #fff;
	padding: .6em 0em .6em .6em;
	display: block;
	width: 100%;
	border: 0px solid #ccc;
	margin: 1.0em 0em 1.0em 0em;
}

code
{
    font-weight: bold;
    background-color: #fff;
    padding: .3em;
}

#header, #footer
{
	margin-left: 80px;
	width: 960px;
	margin-bottom: 15px;
    padding-bottom: 1.0em;
    overflow: hidden;
}

#search { margin-top: 10px; margin-top: 1.6em; margin-bottom: 1.8em; float: right;}
#nav{ float: right; width: 400px; }
#footer { clear: both; text-align: center; padding-top: 30px; font-size: .8em; }

/* TYPE BASE */              
p, ul, ol, pre { font-size: 1em; margin: 0 0 1.0em; }
ul, ol { margin-left: 0.5em; }
ul ul { margin-bottom: 0; }
h1 { font-size: 2.0em; }
h2, h3, h4, h5 { margin: 1em 0 0.2em; font-weight: bold; }
h2 { margin: 0.25em 0 .2em; font-size: 1.8em; letter-spacing: -0.025em; line-height: 1.2em; font-weight: 100; }
h3 { font-size: 1.4em; margin-bottom: 0.25em; }
h4 { font-size: 0.875em; }
p, li { font-size: .9em; line-height: 1.4em; }

/* TYPE SPECIFIC */
.post p { font-size: 0.9em; line-height: 1.2em;}
#right-rail p, #right-rail ul {font-size: .8em;}
.post .date  { color: #fff; }

/* LINKS */
a:link, a:visited {
    /* 76d5ff 3c94bc 3e4d5c 66bbe0 */
    color: #2e9306;
    text-decoration: none;
    font-weight: bold;
}
a:hover { color: #33493c; }
h3 a:link, h3 a:visited { font-weight: 100; color: #33493c;}
h3 a:hover { font-weight: 100; color: #2e9306;}

/* Extra css styles that do no belong to montylounge blog base.css file */
    
#header .logo { width: 200px; float: left; }
#header .logo h1 { display: inline; }
a.external { background: transparent url(../icons/external.gif) no-repeat right center; padding-right: 10px; }
#buttons { margin-top: 20px; text-align: right; }
#search_form input[type="text"]:focus { border: #76d500 2px solid; }
#search_form label { text-transform: lowercase; }
div.post { border-bottom: #33493c 5px solid; padding-bottom: 20px; }
div.post p.tags.list { font-size: 0.85em; text-transform: lowercase; }
div.pagination { text-align: center; margin-top: 1.5em; }
div.post div.content { border-top: #33493c 5px solid; padding-top: 0.7em; font-size: 0.8em; }

div.tags.cloud a.level1 { font-size: 0.5em; font-weight: 50; opacity: 0.7; }
div.tags.cloud a.level2 { font-size: 0.7em; font-weight: 70; opacity: 0.8; }
div.tags.cloud a.level3 { font-size: 0.9em; font-weight: 90; opacity: 0.9; }
div.tags.cloud a.level4 { font-size: 1em; opacity: 0.95; }
div.tags.cloud a.level5 { font-size: 1.1em; }
div.tags.cloud a.level6 { font-size: 1.2em; }
div.tags.cloud a.level7 { font-size: 1.3em; font-weight: bolder; }

div.post ul.original_details { margin-left: 0; }
div.post ul.original_details li { display: inline; }
div.post div.external_links { font-size: 0.75em; text-align: right; }

ul.details { padding-left: 0.5em; margin-left: 0.2em; }

ul.author.list ul.feeds.list { display: inline; margin-left: 0; }
ul.author.list ul.feeds.list li { display: inline; }

#navigation_bar ul li { padding: 3px 0; }
#navigation_bar ul li a { text-transform: uppercase; }
