{% extends "planet/base.html" %}
{% load i18n pagination_tags planet_tags %}

{% block page_title %}{% trans 'Posts list' %} - {{ block.super }}{% endblock %}
{% block extrameta %}
    <meta name="DC.title" content="{% trans 'Posts list' %} - {{ site.name }}" />
    <meta name="description" content="{% trans 'Posts list' %} - {{ site.name }}" />
{% endblock %}

{% block content %}
    <h2>{% trans "Latest posts" %}</h2>
    {% autopaginate posts 10 %}
    {% for post in posts %}
        <div class="post {% cycle 'even' 'odd' %} clearfix">
            {% post_details post %}
        </div>
    {% endfor %}

    {% paginate %}
{% endblock %}

