{% extends "planet/base.html" %}
{% load i18n pagination_tags tagging_tags planet_tags %}

{% block head_title %}{% trans "Feed" %}: {{ feed.title }}{% endblock %}

{% block extra_head %}
    <meta name="title" content="{% trans 'Feed' %}: {{ feed.title }} - {% trans 'Posts in' %} {{ site.name }}" />
    <meta name="description" content="{% trans 'Feed' %} {{ feed.title }} - {% trans 'Posts in' %} {{ site.name }}" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="http://{{ site.domain }}{{ feed.get_absolute_url }}"/>
{% endblock %}

{% block breadcrumb_section %}<li><a href="{% url 'planet.views.feeds_list' %}">Blog Feeds</a> <span class="divider">/</span></li>{% endblock %}
{% block breadcrumb_detail %}<li class="active">{{ feed.title }}</li>{% endblock %}

{% block content %}
    {% if feed.icon %}
        <img src="{{ feed.icon }}" alt="{% trans 'Feed icon' %}" />
    {% endif %}
    <h1>{% trans "Feed" %}: {{ feed.title }}</h1>
    {% if feed.subtitle %}
        <p>{{ feed.subtitle|striptags }}</p>
    {% endif %}
    <table class="blog details table table-hover table-bordered">
        <tr>
            <th>{% trans 'RSS 2.0 Feed' %}</th><td>
            <a href="{{ feed.url }}" class="feed" title="{% trans 'Subscribe to ' %} {{ feed.title }}">{{ feed.title }}</a></td>
        </tr>
        {% if feed.generator %}
        <tr>
            <th>{% trans 'generator' %}</th><td><strong>{{ feed.generator }}</strong></td>
        </tr>
        {% endif %}
        <tr>
            <th>{% trans 'web' %}</th><td><a href="{{ feed.blog.url }}" title="{% trans 'Go to the original blog' %}">{{ feed.blog.url }}</a></td>
        </tr>
    </table>

    {% if tag %}
        <h2>{% trans 'Posts under tag' %}: <strong>{{ tag }}</strong></h2>
    {% endif %}

    {% autopaginate posts 20 %}
    {% for post in posts %}
        <div class="post {% cycle 'even' 'odd' %} clearfix">
            {% post_details post %}
        </div>
    {% endfor %}
    {% paginate %}
{% endblock %}

{% block right_column %}
    {# this is too slow % authors_for_feed feed %#}

    {% if tag %}
        <div>
            {% related_tags_for tag %}
        </div>
        <div>
            {% feeds_about tag %}
        </div>
    {% endif %}

    {% cloud_for_feed feed %}

    {% if tag %}
        <li>
            <a href="{% url 'planet_tag_author_list' tag.name %}" title="{% trans 'See the list of authors talking about this tag' %}">
                {% trans 'People talking about this' %}
            </a>
        </li>
        <li>
            <a href="{% url 'planet_tag_feed_list' tag.name %}" title="{% trans 'See the list of blogs talking about this tag' %}">
                {% trans 'Feeds talking about this' %}
            </a>
        </li>
    {% endif %}
    {% include 'planet/feeds/blocks/syndication_block.html' %}
{% endblock %}
