{% load i18n %}
<div class="date">{{ post.date_modified|date:"M d Y" }}</div>
<h3><a href="{% url post_detail post.pk %}" title="{% trans 'Read ' %} {{ post.title|safe }}">
        {{ post.title|striptags|safe }}
    </a>
</h3>
<p>
    {% trans 'published in' %} <a href="{% url feed_detail post.feed.pk %}" title="{% trans 'See all posts for this feed' %}">
        {{ post.feed.title }}
    </a>
</p>
<p class="tags list">
    {% for tag in post.tags.all %}
        {% if forloop.first %} {% trans "tags" %}: {% endif %}
        <a href="{% url tag_detail tag.name %}" title="Tag">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>