{% extends "base_site.html" %}
{% load i18n pagination_tags planet_tags %}

{% block page_title %}{% trans 'Posts list' %} - {{ block.super }}{% endblock %}
{% block extrameta %}
    <meta name="DC.title" content="{% trans 'Posts list' %} - {{ site.title }}" />
    <meta name="description" content="{% trans 'Posts list' %} - {{ site.title }}' %}" />
{% endblock %}

{% block content %}
    <h2>{% trans "Recent posts" %}</h2>
    {% autopaginate posts 10 %}
    {% for post in posts %}
        <div class="post {% cycle 'even' 'odd' %} clearfix">
            <h3><a href="{% url post_detail post.pk %}" title="{% trans 'Read ' %} {{ post.title|safe }}">
                    {{ post.title|striptags|safe }}
                </a>
            </h3>
            <div class="details">
                {% post_details post %}
            </div>
            <p class="content">
                {{ post.content|safe|striptags|truncatewords:"100" }} <a href="{% url post_detail post.pk %}" title="{% trans 'Read more' %}">{% trans 'Read more' %}</a>
            </p>
        </div>
    {% endfor %}

    {% paginate %}
{% endblock %}

