{% extends "planet/base.html" %}
{% load i18n pagination_tags planet_tags %}

{% block head_title %}{% trans "Blog" %}: {{ blog.title }} :: {{ site.name }}{% endblock %}

{% block extra_head %}
    <meta name="title" content="{% trans 'Blog' %}: {{ blog.title }} :: {{ site.name }}" />
    <meta name="description" content="{% trans 'Blog' %} {{ blog.title }}" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="//{{ site.domain }}{{ blog.get_absolute_url }}"/>
{% endblock %}

{% block breadcrumb_section %}
    <li class="breadcrumb-item">
        <a class="text-success" href="{% url 'planet:blog-list' %}">{% trans 'Blogs' %}</a>
    </li>
{% endblock %}
{% block breadcrumb_detail %}
    <li class="breadcrumb-item active" aria-current="page">{{ blog.title }}</li>
{% endblock %}

{% block content %}
    <h1>{% trans "Blog" %}: {{ blog.title }}</h1>
    <table class="blog details table table-bordered w-75">
        <tr>
          <th>{% trans 'web' %}</th>
          <td><a class="text-success text-decoration-none" href="{{ blog.url }}" title="{% trans 'Go to the original blog' %}" target="_blank">{{ blog.url }}</a></td>
        </tr>
        <tr>
          <th>{% trans 'Author' %}</th>
          <td>
            {% get_authors_for_blog blog as blog_authors %}
            {% for author in blog_authors %}
              <a class="text-success text-decoration-none" href="{{ author.get_absolute_url }}" title="{% trans 'See author profile and his/her blog posts' %}">{{ author.name }}</a>
            {% endfor %}
          </td>
        </tr>
    </table>

    <div class="container px-0">
    {% autopaginate posts 10 %}
    {% for post in posts %}
        <div class="post row">
            {% include "planet/posts/details.html" %}
        </div>
    {% endfor %}
    {% paginate %}
    </div>
{% endblock %}

{% block right_column %}
    {% recent_blogs %}
    {{ block.super }}
{% endblock %}
