{% extends "planet/base.html" %}
{% load i18n pagination_tags  %}

{% block head_title %}{% trans "Blogs about Django" %} :: {{ site.name }}{% endblock %}

{% block extra_head %}
    <meta name="title" content="{% trans 'Blogs' %} :: {{ site.name }} " />
    <meta name="description" content="{% trans 'Blogs about Django' %} " />
    <meta name="robots" content="noindex, follow" />
{% endblock %}

{% block breadcrumb_section %}
    <li class="breadcrumb-item active" aria-current="page">{% trans 'Blogs' %}</li>
{% endblock %}

{% block blogs_class %}class="active"{% endblock %}

{% block content %}
    <h1 class="mb-4">{% trans "Blogs" %}</h1>
    {% autopaginate blogs_list 20 %}
    <div class="content">
        {% for blog in blogs_list %}
        <div class="row pd-0">
            <h3 class="panel-title">
                <a class="text-success text-decoration-none" href="{{ blog.get_absolute_url }}" class="feed" title="{% trans 'See the full list of posts from this blog' %}">{{ blog.title }}</a>
            </h3>
            <div class="table-responsive px-0">
                <table class="table table-bordered mb-4">
                    <tr>
                        <th>{% trans 'web' %}</th><td><a class="text-success text-decoration-none" href="{{ blog.url }}" title="{% trans 'Go to the original blog' %}">{{ blog.url }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'browse' %}</th><td><a class="text-success text-decoration-none" href="{{ blog.get_absolute_url }}" class="feed" title="{% trans 'See the full list of posts from this blog' %}">{% trans 'latest posts' %}</td>
                    </tr>
                    {% for feed in blog.feed_set.all %}
                    <tr>
                        <th>{% trans 'feed' %}</th>
                        <td>
                          <a class="text-success text-decoration-none" href="{{ feed.url }}" title="{% trans 'Subscribe to ' %} {{ feed.title }}">
                            <span class="rss">{% trans "RSS" %}</span>
                          </a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
    </div>
    {% paginate %}
{% endblock %}
