Django==5.2.11
django-environ==0.12.0
django-extensions==4.1
django-pagination-py3==1.2.0
django-planet @ git+https://github.com/matagus/django-planet
feedparser==6.0.12
gunicorn==23.0.0
ipython==8.10.0
whitenoise==6.11.0
