{% extends "base_site.html" %}
{% load i18n pagination_tags tagging_tags planet_tags %}

{% block page_title %}{% trans "Blog" %}: {{ author.name }} - {% trans 'Posts in' %} {{ block.super }}{% endblock %}
{% block extrameta %}
    <meta name="DC.title" content="{% trans 'Blog' %}: {{ author.name }} - {% trans 'Posts in' %} {{ site.title }}" />
    <meta name="description" content="{% trans 'Blog' %} {{ author.name }} {{ author.feed.tagline|safe }} - {% trans 'Posts in' %} {{ site.title }}' %}" />
{% endblock %}

{% block head_feeds %}
    <link rel="alternate" type="application/rss+xml" title="{% trans 'blog' %} {{ author.name }} {% trans 'in' %} {{ site.name }} - RSS 2.0 Feed" href="{% url author_rss_feed author.pk %}" />
{% endblock %}

{% block rss_feed %}
    <a href="{% url author_rss_feed author.pk %}" title="{% trans 'Suscribe to RSS feed for blog' %} {{ author.name }}">
        <img src="{{ MEDIA_URL }}images/rss20.png" alt="RSS 2.0 Feed"/>
    </a>
{% endblock %}

{% block menu_extra %}
    {% if tag %}
        <li>
            <a href="{% url tag_authors_list tag.name %}" title="{% trans 'See the list of authors talking about this tag' %}">
                {% trans 'People talking about this' %}
            </a>
        </li>
        <li>
            <a href="{% url tag_feeds_list tag.name %}" title="{% trans 'See the list of blogs talking about this tag' %}">
                {% trans 'Blogs talking about this' %}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>{% trans "Author" %}: {{ author.name }}</h2>

    {% if tag %}
        <div>
            <p>{% trans 'Posts under tag' %}: <strong>{{ tag }}</strong></p>
            <a href="{% url author_detail author.pk %}" title="{% trans 'See all posts by' %} {{ author.name }}">
                {% trans 'See the complete list of posts by this author' %}
            </a>
        </div>
    {% endif %}

    {% autopaginate posts 20 %}
    {% for post in posts %}
        <div class="post {% cycle 'even' 'odd' %} clearfix">
            {% post_details post %}
            <div class="content">
                {{ post.content|safe|striptags|truncatewords:"100" }} <a href="{% url post_detail post.pk %}" title="{% trans 'Read more' %}">{% trans 'Read more' %}</a>
            </div>
        </div>
    {% endfor %}
    {% paginate %}
{% endblock %}

{% block right_column %}
    {% if tag %}
        <div>
            {% related_tags_for tag %}
        </div>
        <div>
            {% authors_about tag %}
        </div>
    {% endif %}

    {% cloud_for_author author %}
{% endblock %}