{% extends "base_site.html" %}
{% load i18n pagination_tags planet_tags %}

{% block page_title %}{% trans 'Authors list' %} - {{ block.super }}{% endblock %}
{% block extrameta %}
    <meta name="DC.title" content="{% trans 'Authors list' %} - {{ site.title }}" />
    <meta name="description" content="{% trans 'Authors list' %} - {{ site.title }}' %}" />
{% endblock %}

{% block content %}
<h2>{% trans "Authors" %}</h2>
<div class="suscribers list">
    {% autopaginate authors_list 40 %}
    {% for author in authors_list %}
        <p>
            <a href="{{ author.feed.feed_url }}" title="{% trans 'Subscribe to the feed of the author of' %} {{ author.feed.title }}">
                <img src="{{ MEDIA_URL }}images/feed.png" alt="Feed">
            </a>
            <a class="nombre" href="{% url author_detail author.pk %}" title="{% trans 'Author of' %} {{ author.feed.title }}">
                {{ author.name }}
            </a>
        </p>
    {% endfor %}
    {% paginate %}
</div>
{% endblock %}
