{% extends "planet/base.html" %}
{% load i18n pagination_tags tagging_tags planet_tags %}

{% block page_title %}{{ author.name }} {% trans 'has written the following posts' %} - {{ block.super }}{% endblock %}
{% block extrameta %}
    <meta name="DC.title" content="{{ author.name }} {% trans 'has written the following posts' %} - {{ site.name }}" />
    <meta name="description" content="{{ author.name }} {% trans 'has written the following posts' %} - {{ site.name }}" />
{% endblock %}

{% block head_feeds %}
    <link rel="alternate" type="application/rss+xml" title="{% trans 'blog' %} {{ author.name }} {% trans 'in' %} {{ site.name }} - RSS 2.0 Feed" href="{% url planet_author_rss_feed author.pk %}" />
{% endblock %}

{% block rss_feed %}
    <a href="{% url planet_author_rss_feed author.pk %}" title="{% trans 'Suscribe to RSS feed for blog' %} {{ author.name }}">
        <img src="{{ MEDIA_URL }}images/rss20.png" alt="RSS 2.0 Feed"/>
    </a>
{% endblock %}

{% block menu_extra %}
    {% if tag %}
        <li>
            <a href="{% url planet_tag_author_list tag.name %}" title="{% trans 'See the list of authors talking about this tag' %}">
                {% trans 'People talking about this' %}
            </a>
        </li>
        <li>
            <a href="{% url planet_tag_feed_list tag.name %}" title="{% trans 'See the list of blogs talking about this tag' %}">
                {% trans 'Feeds talking about this' %}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>{{ author.name }} {% trans "has written the following posts" %}:</h2>

    {% if tag %}
        <div>
            <p>{% trans 'Posts under tag' %}: <strong>{{ tag }}</strong></p>
            <a href="{% url planet_author_detail author.pk %}" title="{% trans 'See all posts by' %} {{ author.name }}">
                {% trans 'See the complete list of posts by this author' %}
            </a>
        </div>
    {% endif %}

    {% autopaginate posts 20 %}
    {% for post in posts %}
        <div class="post {% cycle 'even' 'odd' %} clearfix">
            {% post_details post %}
        </div>
    {% endfor %}
    {% paginate %}
{% endblock %}

{% block right_column %}
    {% if tag %}
        <div>
            {% related_tags_for tag %}
        </div>
        <div>
            {% authors_about tag %}
        </div>
    {% endif %}

    {% cloud_for_author author %}
{% endblock %}
